<!DOCTYPE html>
<html>
<head>
  <title>APIAuto-机器学习测试、自动生成代码、自动静态检查、自动生成文档与注释等，做最先进的 HTTP 接口管理平台。</title>
  <meta charset="utf-8"/>
  <meta name="keywords" content="apijson,api,json,auto,apiauto,自动生成接口文档,自动化接口回归测试,机器学习接口回归测试,回归测试,机器学习,接口测试,自动化,fastjson,json在线解析,json格式化验证"/>
  <meta name="description" content="APIAuto-机器学习测试、自动生成代码、自动静态检查、自动生成文档与注释等，做最先进的 HTTP 接口管理平台。"/>

  <!-- 登录 <<<<<<<<<<<<<<<<<<<< -->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <!-- 登录 >>>>>>>>>>>>>>>>>>>> -->

  <link href="css/hint.min.css" rel="stylesheet">
  <!-- <link href="css/diffview.css" rel="stylesheet"> -->
  <link href="css/loading.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="md/css/editormd.preview.css"/>
  <style>
    input[type=number] {
      -moz-appearance : textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance : none;
      margin             : 0;
    }
  </style>
</head>

<body>
  <style type="text/css">
    .url {
      height      : 100%;
      border      : none;
      display     : flex;
      align-items : center;
      flex-grow   : 1
      /* justify-content: center */
    }
    .transfer {
      width   : 50px;
      height  : 100%;
      margin  : 0;
      padding : 0;
    }
    .send {
      width     : 16%;
      min-width : 30px;
      max-width : 100px;
      height    : 100%;
      margin    : 0;
      padding   : 0;
    }
    .statement {
      position         : absolute;
      bottom           : 0px;
      width            : 100%;
      text-align       : center;
      font-size        : small;
      z-index          : 100;
      background-color : white;
      color            : #bbb;
      border-top       : #fafafa 1px solid;
    }
  </style>

  <div id="app" style="background-color: white"></div>

  <!--用于移动的时候遮住文本域 避免被选中-->
  <div class="widnow-cover">
  </div>


  <!--最外层根结构-->
  <script type="text/x-template" id="outer-template">
    <ul class="json-item">
      <vue-val :val="jsondata" :isend="isend" :theme="theme"></vue-val>
    </ul>
  </script>

  <!--内层每个键值对-->
  <script type="text/x-template" id="item-template">
    <ul class="json-item">
      <vue-val :field="key" :theme="theme" :val="val" :isend="index == objLength(jsondata) - 1"
               v-show="onRenderJSONItem(val, key, jsondata._$_this_$_ == null ? null : (JSON.parse(jsondata._$_this_$_) || {}).path)"
               v-for="(val, key, index) in jsondata"></vue-val>
    </ul>
  </script>

  <!--key value 最终的渲染方式-->
  <script type="text/x-template" id="val-template">
    <div class="keyval">
      <template v-if="!isObjectArr(val)">
      <span class="key hint--top-right hint--rounded hint--no-animate" v-show="field" :style="{color: theme.key}"
            ref="responseKey" @mouseover="setResponseHint(val, field, $event)">"{{ field }}": </span>

        <span :class="'val val-' + getTyp(val, field)" :style="{color: theme[getTyp(val)]}">
            <span v-if="!isaLink(val)">{{ formatVal(val) }}</span>
            <a v-if="isaLink(val)" :href="val" target="_blank" class="json-link" :style="{color: theme['link-link']}">{{ formatVal(val) }}</a>
            <span v-if="!isend">,</span>
          </span>
      </template>


      <!--key + 展开折叠ICON-->
      <template v-if="isObjectArr(val)">
      <span class="key hint--right hint--rounded hint--no-animate" :style="{color: theme.key}" v-show="field"
            ref="responseKey" @mouseover="setResponseHint(val, field, $event)">"{{ field }}": </span>
        <vue-expand></vue-expand>
      </template>


      <!--值为对象时-->
      <template v-if="getTyp(val) == 'Object'">
          <span class="expand-view">
            <span>{</span>
            <vue-item :jsondata="val" :theme="theme"></vue-item>
            <div class="brace-end">}<span v-if="!isend">,</span></div>
          </span>

        <span class="fold-view">{{ getTyp(val) }}{<label class="ex-alia" @click="expand($event)">{{ objLength(val) }}</label>}<span v-if="!isend">,</span></span>
      </template>


      <!--值为数组时-->
      <template v-if="getTyp(val) == 'Array'">
          <span class="expand-view">
            <span>[</span>
            <span class="val">
              <vue-outer :jsondata="sub" v-for="(sub, index) in val" :isend="index == val.length - 1" :theme="theme"></vue-outer>
            </span>
            <div class="brace-end">]<span v-if="!isend">,</span></div>
          </span>

        <span class="fold-view">{{ getTyp(val) }}[<label class="arrlen ex-alia" @click="expand($event)">{{ val.length }}</label>]<span v-if="!isend">,</span></span>

      </template>
    </div>
  </script>

  <!--展开 折叠的 UI 组件-->
  <script type="text/x-template" id="expand-template">
    <span class="expand-wraper">
        <svg class="icon icon-square icon-square-min" @click="fold($event)" title="折叠">
          <use xlink:href="svg/icon.svg#minus-square"></use>
        </svg>

        <svg class="icon icon-square icon-square-plus" @click="expand($event)" title="展开">
          <use xlink:href="svg/icon.svg#plus-square"></use>
        </svg>
      </span>
  </script>


  <script src="js/jquery.js"></script>
  <script src="js/jsonlint.js"></script>
  <script src="js/parse.js"></script>
  <script src="js/editor.js"></script>
  <!-- <script src="js/diffview.js"></script> -->
  <script src="js/localforage.min.js"></script>
  <script src="js/FileSaver.js"></script>
  <script src="js/uuid.js"></script>
  <script src="js/clipboard.min.js"></script>
  <script src="js/helper.js"></script>

  <!-- 必须在main.js前 TODO 可能有冲突，代码写入vue文件？ <<<<<<<<<<<<<<<< -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--  <script type="text/javascript" language="JavaScript" charset="UTF-8" src="src/apijson/StringUtil.ts"></script>-->
  <!--  <script type="text/javascript" language="JavaScript" charset="UTF-8" src="src/apijson/JSONObject.ts"></script>-->
  <!--  <script type="text/javascript" language="JavaScript" charset="UTF-8" src="src/apijson/JSONRequest.ts"></script>-->
  <!--  <script type="text/javascript" language="JavaScript" charset="UTF-8" src="src/apijson/JSONResponse.ts"></script>-->
  <!--  <script type="text/javascript" language="JavaScript" charset="UTF-8" src="src/apijson/CodeUtil.js"></script>-->
  <!-- 必须在main.js前 TODO 可能有冲突，代码写入vue文件？ >>>>>>>>>>>>>>>> -->

  <!--
    <script type="text/javascript" language="JavaScript" charset="UTF-8">
      //TODO 保留，用v-model绑定到App.data会报错，各种undefined
      var vUrl        = document.getElementById('vUrl');
      var vUrlComment = document.getElementById('vUrlComment');
      var vTransfer   = document.getElementById('vTransfer');
      var vType       = document.getElementById('vType');
      var vSend       = document.getElementById('vSend');

      var vInput   = document.getElementById('vInput');
      var vComment = document.getElementById('vComment');
      var vHeader  = document.getElementById('vHeader');
      var vRandom  = document.getElementById('vRandom');
      var vOutput  = document.getElementById('vOutput');

      var vAccount  = document.getElementById('vAccount');
      var vPassword = document.getElementById('vPassword');
      var vVerify   = document.getElementById('vVerify');
      var vRemember = document.getElementById('vRemember');

      vUrl.value = String(window.globalVars.URL_BASE + '/get'); //main.js里访问不到，可能是script引用顺序问题

      var vMarkdown        = document.getElementById('vMarkdown');
      var vPage            = document.getElementById('vPage');
      var vCount           = document.getElementById('vCount');
      var vSearch          = document.getElementById('vSearch');
      var vTestCasePage    = document.getElementById('vTestCasePage');
      var vTestCaseCount   = document.getElementById('vTestCaseCount');
      var vTestCaseSearch  = document.getElementById('vTestCaseSearch');
      var vRandomPage      = document.getElementById('vRandomPage');
      var vRandomCount     = document.getElementById('vRandomCount');
      var vRandomSearch    = document.getElementById('vRandomSearch');
      var vRandomSubPage   = document.getElementById('vRandomSubPage');
      var vRandomSubCount  = document.getElementById('vRandomSubCount');
      var vRandomSubSearch = document.getElementById('vRandomSubSearch');


      function onScrollChanged() {
        $(vComment).scrollLeft(vInput.scrollLeft);
        $(vComment).scrollTop(vInput.scrollTop);
      }

      //vComment跟随vInput滚动，避免JSON重叠"露馅"
      $(vInput).on('scroll', onScrollChanged);


      function onURLScrollChanged() {
        $(vUrlComment).scrollLeft(vUrl.scrollLeft);
      }

      //vURLComment跟随vUrl滚动，避免JSON重叠"露馅"
      $(vUrl).on('scroll', onURLScrollChanged);


      function markdownToHTML(md) {
        vMarkdown.innerHTML = '';
        editormd.markdownToHTML('vMarkdown', {
          markdown       : md,//+ "\r\n" + $("#append-test").text(),
          //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
          htmlDecode     : 'style,script,iframe',  // you can filter tags decode
          //toc             : false,
          tocm           : true,    // Using [TOCM]
          //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
          //gfm             : false,
          tocDropdown    : true,
          // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
          taskList       : true,
          tex            : true,  // 默认不解析
          flowChart      : true,  // 默认不解析
          sequenceDiagram: true,  // 默认不解析
        });
      }
    </script>
    -->

  <script src="md/lib/jquery.min.js"></script>
  <script src="md/lib/marked.min.js"></script>
  <script src="md/lib/prettify.min.js"></script>

  <script src="md/lib/raphael.min.js"></script>
  <script src="md/lib/underscore.min.js"></script>
  <script src="md/lib/sequence-diagram.min.js"></script>
  <script src="md/lib/flowchart.min.js"></script>
  <script src="md/lib/jquery.flowchart.min.js"></script>

  <script src="md/editormd.js"></script>


  <!-- 百度统计 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<  -->
  <script>
    var _hmt = _hmt || [];
    (function () {
      try {
        var hm = document.createElement('script');
//      hm.src = "https://hm.baidu.com/hm.js?b8fc421d7c0dc354c6c8fb5a2c4f7729"; //cn
        hm.src = 'https://hm.baidu.com/hm.js?965ec968d2d53b729b90efc7ffb3ead2'; //org
        var s  = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      } catch (e) {
        console.log('BaiduStatistics: catch\n' + e.message);
      }
    })();
  </script>
  <!-- 百度统计 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->

  <script src="src/main.ts"></script>

</body>
</html>
